In [1]:
import cv2
import numpy as np
import scipy.spatial.distance as distance
from sklearn.preprocessing import normalize
import pandas as pd
import time

In [2]:
f = open("data/data_idx.txt", "r")
clusters = [int(x) for x in f.readline().split()]
clusters = np.asarray(clusters)
image_cluster = pd.DataFrame(clusters)
clusters, requests, Nc = np.unique(clusters, return_index=True,
                                      return_counts=True)
image_cluster

        0
0       1
1       1
2       1
3       2
4       2
...   ...
1486  499
1487  499
1488  500
1489  500
1490  500

[1491 rows x 1 columns]

In [3]:
f = open("data/bow.txt", "r")
matrix = []
for line in f:
    vector = [int(x) for x in line.split()]
    matrix.append(vector)
bow_matrix = np.asmatrix(matrix)
bow = pd.DataFrame(bow_matrix)
bow

,0,1,2,3,4,5,6,7,8,9,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,1,0,5,0,1,0,1,1,0,0,...,1,0,1,0,0,0,0,0,1,0
1,5,0,4,2,2,1,2,11,7,1,...,4,11,1,0,4,0,0,3,0,0
2,1,0,0,0,1,0,0,0,2,0,...,2,0,0,0,0,0,1,0,0,0
3,18,2,10,4,12,8,7,1,18,7,...,4,9,4,1,19,6,2,0,5,8
4,13,1,7,2,11,11,4,0,13,9,...,1,3,2,1,8,3,3,3,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,11,3,7,13,1,2,8,1,9,4,...,1,3,6,9,2,8,2,1,3,1
1487,7,5,6,9,1,0,6,0,1,10,...,5,1,13,1,5,0,2,0,4,3
1488,0,0,0,9,0,1,1,0,2,2,...,0,1,5,7,1,1,0,3,1,3
1489,0,0,0,2,3,0,0,0,12,0,...,0,0,0,2,0,0,0,0,0,0
1490,1,1,0,8,0,0,2,3,3,0,...,1,0,4,2,3,2,1,2,1,0

There are 1491 images in this database, and 8 clusters. (1024 / 128) Therefore, we retrieve the centroids of these 8 clusters.

In [4]:
f = open("data/centroids/K8.txt", "r")
matrix = []
for line in f:
    vector = [float(x) for x in line.split()]
    matrix.append(vector)
k8_matrix = np.asmatrix(matrix)
k8 = pd.DataFrame(k8_matrix)
k8

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,31.249016,25.501215,22.848219,18.480101,13.627398,6.908546,5.087223,10.563511,42.866863,55.474236,...,56.038082,36.700588,29.084457,8.825639,5.238123,10.136950,21.843779,20.385212,18.016674,23.469543
1,21.290874,10.059727,6.766247,6.227464,11.707767,23.591778,28.157183,20.995457,18.652391,9.034462,...,6.547870,10.266053,32.679180,22.506399,13.920855,10.740374,10.970414,8.062580,7.733337,14.385700
2,30.964367,22.360004,11.048914,7.539116,8.339045,7.150357,7.396674,12.932173,29.042273,58.728218,...,78.653633,29.315863,13.792577,8.202235,6.326416,5.552842,10.343047,25.276258,30.171139,17.270981
3,78.423637,15.448256,2.299043,2.417652,7.451628,8.142867,9.004931,23.832005,94.285484,34.447968,...,88.080315,24.403255,21.304554,12.244978,7.751577,2.764812,4.603053,22.725615,36.583580,18.503300
4,6.162910,3.690419,5.116338,9.490084,14.890289,10.904242,14.217042,9.522003,26.232443,6.069299,...,11.523263,8.624854,24.377153,21.861450,17.800270,9.168837,7.446078,5.518549,7.415652,10.327967
5,26.204842,12.373660,6.769173,2.924230,5.621014,22.741890,36.099194,21.301987,21.546745,12.722086,...,6.244895,23.427507,74.618210,15.956566,2.682510,3.018473,7.716383,8.938708,9.732193,24.006351
6,24.486942,24.795143,21.648453,12.421943,7.649964,4.603993,6.157518,9.380072,21.086330,50.338490,...,18.277050,26.626511,6.380827,3.303993,4.450360,12.207950,18.904928,11.086007,10.085719,8.916367
7,16.922964,5.360461,5.361770,17.440796,29.278240,16.435246,13.679707,17.318722,24.396648,4.980571,...,4.613878,12.666457,32.459858,27.173973,31.248337,26.757372,13.805552,5.197225,4.170044,11.380675

In [5]:
f = open("data/vlad.txt", "r")
matrix = []
for line in f:
    vector = [float(x) for x in line.split()]
    matrix.append(vector)
vlad_matrix = np.asmatrix(matrix)
vlad = pd.DataFrame(vlad_matrix)
vlad

,0,1,2,3,4,5,6,7,8,9,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
0,-21.893009,174.355240,58.976070,-83.114029,-337.857391,41.943695,-39.480526,-40.694977,-40.251991,34.622242,...,27.620071,356.911011,-62.078690,-111.560577,-75.615868,-18.480951,105.407257,-9.619627,11.096497,471.302551
1,367.745422,284.111694,3.977940,-510.281250,-752.672668,188.712845,84.949310,84.555618,16.414883,352.573273,...,144.943237,641.761475,180.662415,133.883240,107.503464,27.938805,117.888222,-82.369835,-141.015015,326.010864
2,-5.789301,-3.664477,-6.902393,9.288597,-7.385735,-11.005630,7.351947,15.030502,-16.325199,-4.537776,...,-36.691437,-53.588379,-25.014994,85.083702,-8.355402,-9.758276,-11.160524,66.072449,-48.267334,-69.799500
3,18.113567,56.105122,-32.314880,432.852997,-124.515404,57.729736,-37.106518,-111.535889,-108.609436,100.186775,...,-1074.199585,-1.593262,-121.524612,146.929062,-254.439224,113.460495,-126.618301,-963.462830,-572.357849,-286.984070
4,9.267487,80.388092,79.440231,188.215118,-64.643356,-66.140762,-46.201309,-69.237442,-215.129913,-15.444384,...,-161.665558,-420.798462,271.545990,420.532898,-195.500992,-108.437737,4.394178,-662.806946,-776.586853,113.315140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,-160.990128,-116.875122,-188.436279,455.450165,57.013000,-262.320953,-140.939041,-118.261368,-311.536163,-25.653223,...,335.403320,-352.208862,285.688843,-243.263504,-19.624615,157.765533,143.419159,-337.496552,111.952820,-12.089615
1487,677.173462,136.532700,-94.117706,-314.737183,241.897583,-531.511719,-49.972965,576.776062,350.407104,60.062473,...,-346.065643,-111.501831,92.808853,31.067188,-41.781387,-16.168026,9.703335,-163.076218,-372.908508,-166.693619
1488,-70.618896,-102.506775,-183.874619,-68.932045,976.840942,-299.410400,93.692078,-208.773331,-133.739517,116.742249,...,-335.379974,125.911011,177.921234,-96.560562,176.384125,26.519047,-33.592747,-296.619598,-205.903503,203.302628
1489,7.842796,23.342093,11.390427,161.154419,-55.542938,-77.022522,-26.592211,-18.877991,78.699219,11.848898,...,59.385704,183.264526,120.981239,-27.895378,-24.194252,-13.447845,-13.950655,44.090561,32.165833,134.500626
1490,-220.980469,-33.750359,-163.872498,-45.099487,1442.025391,434.358521,320.121948,-424.522034,-966.072388,128.693634,...,-317.994171,-111.824463,133.902435,-47.455975,70.189865,-29.928802,-99.543404,-229.529068,-120.737671,-23.196747

VLAD used 64 clusters. (8192 / 128)

In [6]:
f = open("data/centroids/K64.txt", "r")
matrix = []
for line in f:
    vector = [float(x) for x in line.split()]
    matrix.append(vector)
k64_matrix = np.asmatrix(matrix)
k64 = pd.DataFrame(k64_matrix)
k64

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,55.017387,27.732914,25.589029,22.385492,5.846823,1.271883,1.856415,16.184053,52.176258,43.054256,...,15.794964,26.583633,5.542566,1.874400,3.212830,11.479317,13.895384,8.611211,9.198442,11.030576
1,9.750383,8.076648,7.122637,6.057230,10.505110,26.380939,23.387072,10.596577,9.492335,7.537813,...,5.995401,8.767246,33.122635,22.427185,8.837762,5.223812,5.956311,5.985437,7.366122,13.871231
2,11.615864,5.338760,7.013163,26.854174,33.720470,13.098025,8.919293,12.362660,31.318670,5.047454,...,3.358504,6.695532,19.701420,35.112572,39.463455,31.199514,15.660893,5.565293,3.372359,5.937652
3,27.294710,20.639217,9.167409,6.584189,8.757411,6.819221,6.512691,9.588840,30.249563,73.050377,...,98.767876,54.701801,12.201124,3.907964,2.948072,2.338694,4.863980,22.243557,60.295486,28.328812
4,17.189920,31.199106,37.642750,28.723684,14.170308,4.597567,2.817527,4.340119,25.837885,80.101044,...,30.836891,36.236595,25.819761,7.784012,5.207547,12.295680,27.527309,16.763159,11.465243,19.496277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,90.458786,18.469360,2.667299,1.991594,3.959056,3.473970,5.240239,21.454447,92.725868,33.982918,...,76.442245,21.890726,13.894794,10.558840,11.190619,6.071584,7.682484,16.777657,22.223427,12.309381
60,6.490557,2.958544,4.345002,11.022571,9.424689,6.867803,8.607094,11.404882,25.599262,6.943805,...,2.931368,10.478121,51.889450,26.575312,21.081530,11.269921,4.602027,2.516813,3.255182,18.911100
61,28.055754,13.739642,3.393862,1.748338,5.594885,33.572380,37.724808,23.291048,15.449616,10.139642,...,18.110485,31.877237,34.552940,10.662915,2.693606,2.093095,5.267519,22.178516,34.865475,33.396931
62,41.782928,9.518311,3.621087,8.445363,32.001183,19.354696,9.300650,14.437980,104.987007,31.477259,...,119.804787,31.513586,11.873893,4.407265,2.435027,1.002953,3.885706,43.675724,78.267868,27.064974
63,83.467522,30.242811,2.226837,1.314164,4.325879,10.899894,10.014910,21.232162,74.125664,30.781683,...,7.231097,16.039936,72.438232,23.948349,2.294462,1.238552,2.838658,7.879659,12.320022,25.368477

In [7]:
def getListOfSimilarImages(request, database):
    distances = distance.cdist(request[None, :], 
                               np.asmatrix(database), 
                               metric='euclidean').transpose()
    distances = pd.DataFrame(distances)
    distances = distances.sort_values(distances.columns[0])
    return distances.index

In [8]:
distances = getListOfSimilarImages(bow.values[2], bow.values)
distances

Int64Index([   2,  698,  697,  696, 1194,  763,  764,  748,   31,  917,
            ...
             114,   51, 1361, 1039, 1011, 1067, 1073, 1071,  862, 1075],
           dtype='int64', length=1491)

In [9]:
def getAllSimilar(database, indexes):
    distances = []
    for i in range(500):
        distances.append(getListOfSimilarImages(database[indexes[i]],
                                           database).to_numpy())
    return np.array(distances)

In [87]:
def getAP(request, database, Nc, index):
    ap = 0
    indexes = np.array([i + index for i in range(Nc)])
    distances = getListOfSimilarImages(request, database).to_numpy()
    positions = np.where(np.in1d(distances, indexes))[0]
    for i in range(Nc):
        ap += (i + 1) / (positions[i] + 1)
    ap /= Nc
    return ap

In [88]:
getAP(bow.iloc[0], bow, Nc[0], 0)

0.35451960550385747

In [89]:
def getMAP(database, indexes, Ncs):
    MAP = 0
    for i in range(500):
        MAP += getAP(database[indexes[i]], database, Ncs[i], indexes[i])
    return MAP / 500

In [90]:
start_time = time.time()
bowMAP = getMAP(bow.values, requests, Nc)
elapsed_time = time.time() - start_time
print("MAP of bow is " + str(bowMAP) + " in " + str(elapsed_time) + 
      " seconds.")

MAP of bow is 0.6440300632260709 in 1.619802713394165 seconds.

In [91]:
start_time = time.time()
vladMAP = getMAP(vlad.values, requests, Nc)
elapsed_time = time.time() - start_time
print("MAP of vlad is " + str(vladMAP)+ " in " + str(elapsed_time) + 
      " seconds.")

MAP of vlad is 0.5668178186091257 in 3.794431686401367 seconds.

In [92]:
nbow  = normalize(bow.values, norm="l1")
nvlad = normalize(vlad.values, norm="l2")

In [93]:
nbowMAP = getMAP(nbow, requests, Nc)
print("MAP of bow normalized is " + str(nbowMAP))

MAP of bow normalized is 0.598430934118102

In [94]:
nvladMAP = getMAP(nvlad, requests, Nc)
print("MAP of vlad normalized is " + str(nvladMAP))

MAP of vlad normalized is 0.7341197402393242

In [84]:
def AP(y_true, d_pred):
    Nc = np.sum(y_true)
    ap = 0
    true = np.where(y_true)
    positions = np.where(np.in1d(d_pred, true))[0]
    for i in range(Nc):
        ap += (i + 1) / (positions[i] + 1)
    ap /= Nc
    return ap

In [85]:
def MAP(y_true, d_pred):
    MAP = 0
    for i in range(500):
        MAP += AP(y_true[i], d_pred[i])
    return MAP / 500

In [97]:
def getTruthMatrix(requests, results):
    true_vals = []
    for j in range(500):
        y_true = np.zeros(1491, dtype=bool)
        pred_v = np.zeros(1491, dtype=bool)
        if(j != 0):
            y_true[requests[j]:i+requests[j]] = True
        else:
            y_true[requests[j]:i+requests[j]+1] = True
        y_true.astype(bool)
        true_vals.append(y_true)
    return true_vals

In [99]:
### Testing new function
results = getAllSimilar(nbow, requests)
true_vals = getTruthMatrix(requests, results)
val = MAP(true_vals, results)
print("MAP for normalized BOW : " + str(val))

MAP for normalized BOW : 0.6843607977012095

In [101]:
results = getAllSimilar(nvlad, requests)
true_vals = getTruthMatrix(requests, results)
val = MAP(true_vals, results)
print("MAP for normalized VLAD : " + str(val))

MAP for normalized VLAD : 0.7954745633229371